<% provide :title, t("about.title") %>
<h1><%= t("about.heading") %></h1>
<p>
  <%= t("about.description_1") %>
  <%= link_to t("about.screencast"), Settings.about.about_screencast %>
  <%= t("about.description_2") %>
</p>
