<%= provide :title, t("contact.title") %>
<h1><%= t("contact.heading") %></h1>
<p>
  <%= t("contact.description") %>
  <%= link_to t("contact.contact_page"), Setting.contact.contact_page_link %>.
</p>
