<li>
  <%= gravatar_for user, size: Settings.img.size_50 %>
  <%= link_to user.name, user %>
  <% if can_delete_user? user %>
    | <%= link_to t("delete.title"), user, data: {"turbo-method": :delete,
                                                  turbo_confirm: t("delete.message")} %>
  <% end %>
</li>
