<%= link_to gravatar_for(current_user, size: Settings.img.size_50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("user_info.my_profile"), current_user %></span>
<span><%= t "user_info.micropost_count", count: current_user.microposts.count %></span>
